* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --hero-img--width: 450px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: "norso";
    src: url("fonts/Norse-Bold.otf");
}

.container {
    display: flex;
}

/* common styles */
a {
    color: white;
}

label {
    display: block;
}

h3 {
    font-size: 1.25rem;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type="password"] {
    margin-bottom: 0;
}

.error {
    color: red;
    font-size: 12px;
}

:focus {
    border: 1px solid rgb(207, 243, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

/* hero */
.form-hero {
    position: relative;
    max-width: var(--hero-img--width);
}

.hero-img {
    height: 100vh;
    max-width: var(--hero-img--width);
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--hero-img--width);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-logo {
    height: 103px;
    width: 78px;
}

.hero-text {
    color: white;
    font-family: norso, sans-serif;
    font-size: 4.5rem;
}

.hero-img-credit {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

/* form */

.form-header {
    padding: 2.5rem;
    padding-top: 7rem;
    background-color: rgb(249, 249, 249);
}

.header-different {
    padding-top: 1.5rem;
}

form {
    padding-left: 2.5rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

legend {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: rgb(43, 43, 43);
}

.form-inputs {
    display: flex;
    gap: 4rem;
}

label {
    font-size: 0.789rem;
    letter-spacing: 1px;
    color: rgb(45, 42, 42);
}

input {
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
}

input:invalid {
    border: 1px solid red;
}

.form-footer {
    background-color: rgb(249, 249, 249);
    padding-bottom: 6rem;
}

button {
    border: none;
    color: white;
    background-color: #596D48;
    padding: 0.75rem 2rem;
    font-weight: bold;
    border-radius: 6px;
    margin-left: 2rem;
    margin-top: 2.1rem;
}

.account {
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.log-in {
    color: #596D48;
    cursor: pointer;
}