* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --hero-img--width: 450px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: "norso";
    src: url("fonts/Norse-Bold.otf");
}

.container {
    display: flex;
}

/* common styles */
a {
    color: white;
}

label {
    display: block;
}

h3 {
    font-size: 1.25rem;
}

/* hero */
.form-hero {
    position: relative;
    max-width: var(--hero-img--width);
}

.hero-img {
    height: 100vh;
    max-width: var(--hero-img--width);
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: var(--hero-img--width);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-logo {
    height: 103px;
    width: 78px;
}

.hero-text {
    color: white;
    font-family: norso, sans-serif;
    font-size: 4.5rem;
}

.hero-img-credit {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

/* form */

.form-header {
    padding: 2.5rem;
    padding-top: 7rem;
    background-color: rgb(249, 249, 249);
}

.header-different {
    padding-top: 1.5rem;
}